/* COLOR VARIABLES */
$primary-color: #eaeaec;
$secondary-color: #2d3134;
$tertiary-color: #51b0d2;

$font-color: #2d2d2d;
$font-color-secondary: #e2e6eb;

/* VARIABLES */
$border-radius: 7px;
$anim-duration: 0.25s;
