dialog {
    width: 33%;
    border: 2px solid $tertiary-color;
    border-radius: $border-radius;

    &::backdrop {
        background-color: black;
        opacity: 0.55;
    }

    > div {
        display: grid;
        gap: 1rem;
        inset: 0;

        .section {
            display: grid;
            gap: 0.25rem;

            p {
                display: flex;
                justify-content: space-between;
                margin: 0;
            }

            input {
                padding: 5px;
                border: 1px solid $tertiary-color;
                border-radius: $border-radius;
            }
        }

        button {
            width: fit-content;
            margin: 0.5rem 0 0 auto;
        }
    }
}
