// resposivity
@mixin max-width($threshold) {
    @media screen and (max-width: $threshold) {
        @content;
    }
}

*,
::after,
::before {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: $secondary-color;
}

::-webkit-scrollbar-thumb {
    background: #7b7a7a;
}

::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: $primary-color;
    color: $font-color;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*:is([disabled=""], [disabled="true"]) {
    color: currentColor;
    opacity: 0.8 !important;
    cursor: not-allowed !important;
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3rem;
    width: 100%;
    z-index: 10;
    padding: 0.75rem 1em;
    background-color: $secondary-color;
    color: $font-color-secondary;
    font-size: clamp(0.75rem, 3vw, 1.5rem);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);

    h1 {
        flex: 8;
    }

    a {
        position: relative;
        width: fit-content;
        color: inherit;
        text-decoration: none;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: 0;
            left: 0;
            border-radius: 3px;
            background-color: $font-color-secondary;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform $anim-duration ease-in-out;
        }

        &:hover::before {
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}

#container {
    width: calc(100% - 2rem);
    margin: 1rem auto;
}

#textfield {
    width: 100%;
    height: 55vh;
    resize: vertical;
    overflow: auto;
    border: 2px solid $tertiary-color;
    border-radius: $border-radius;
    padding: 0.5rem;
    font-family: inherit;

    & > :first-child,
    & > :last-child {
        margin: 0;
    }

    * {
        margin: 0.25rem 0;
    }

    :is(h1, h2, h3, h4, h5, h6) {
        margin-top: 1rem;
    }

    img,
    video,
    audio {
        max-height: 7.5rem;
        display: block;
        border-radius: $border-radius;
    }

    table {
        display: block;
        width: 100%;
        border-collapse: collapse;

        tr,
        td,
        th {
            border: 1px solid $tertiary-color;
            padding: 0.5rem;
        }
    }

    dta-anchor {
        &[data-focused] {
            border: 2px solid $font-color !important;
            border-radius: $border-radius !important;
            outline: none;
        }

        &[data-changed] {
            border: 2px dashed #ff0000;
            border-radius: $border-radius;
        }
    }
}

#controls {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    padding: 1rem 0;

    button,
    label.button {
        font-size: 0.8rem;
        font-weight: bold;
        color: $font-color;
        text-align: center;
        background-color: $tertiary-color;
        border: 2px solid $tertiary-color;
        border-radius: $border-radius;
        padding: 0.5rem 0.25rem;
        transition: $anim-duration;

        &:hover,
        &:focus {
            &:not([disabled=""], [disabled="true"]) {
                border: 2px solid $secondary-color;
                box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
                transform: translateY(-0.125em);
                cursor: pointer;
            }
        }

        .editModeOn {
            display: inline;
        }

        > input[type="file"] {
            display: none;
        }
    }
}

#anchor-details {
    display: grid;
    gap: 0.5rem;
    border: 2px solid $tertiary-color;
    border-radius: $border-radius;
    padding: 0.5rem;

    > h4 {
        margin: 0;
    }

    .settings {
        display: grid;

        input[type="color"] {
            width: 100%;
            height: 2rem;
            padding: 0;
            border: none;
            background-color: transparent;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;

            input[type="color"]::-webkit-color-swatch-wrapper {
                padding: 0;
            }

            &::-webkit-color-swatch {
                border: 1px solid $font-color;
                border-radius: $border-radius;
            }
        }

        pre {
            border: 1px solid $font-color;
            border-radius: $border-radius $border-radius 0 0;
            padding: 0.25rem;
            margin: 1rem 0 0 0;
        }

        .saveDataBtn {
            border: 1px solid $font-color;
            border-top: 0;
            border-radius: 0 0 $border-radius $border-radius;
            font-weight: bold;
            cursor: pointer;
        }
    }

    .parts {
        summary {
            cursor: pointer;
        }

        > div {
            transition: max-height 400ms ease-out;

            display: grid;
            gap: 0.5rem;
            padding: 0.5rem 0 0 0.5rem;

            > div {
                padding: 0.25rem;
                border: 1px solid $font-color;
                border-radius: $border-radius;

                h6 {
                    font-size: 0.85rem;
                    margin: 0;
                }

                p {
                    margin: 0;
                }
            }
        }
    }
}
